*{
    box-sizing: border-box;
    margin: 0;
}
header p {
    background-color: #1CD1B0;
    padding: 7px;
    margin-bottom: 0px;
}
header h1{
    background-color: #00669F;
    padding: 30px;
    margin-top: 0px;
}
section, .mas{
    text-align: center;
    font-family:'Roboto', sans-serif;
}
article{
    display: inline-block;
    width: 300px;
    background-color: #efefef;
    border-radius: 18px;
    margin: 20px;
}
p {
    text-align: justify;
    padding: 20px;
}

.corazon {
    position: relative;
    bottom: 270px;
    right: 60px;
}

.icon {
    border-radius: 50%;
    position: relative;
    bottom: 66px;
    right: 15px;
}

.mas {
    background-color: #00669F;
    width: 128px;
    position: relative;
    left: 88px;
    color: #F3F3F3;
}

footer {
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFF9F9;
}