<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Curriculum Vitae</title>
</head>
<body>
    <main>
        <header>
            <img class="centrado" src="/img/foto-personal.JPG" alt="Foto personal">
            <h1>
                Gonzalo Alvarez
            </h1>
            <ul>
                <li><a href="/index.html">CV</a></li>
            </ul>
        </header>
        <section>
            <h3>
                SOBRE MÍ
            </h3>
            <ul>
                <li><em><strong>Intereses:</strong></em> Me gusta mucho todo lo relacionado con la computación, tanto Software como Hardware</li>
                <li><em><strong>Habilidades:</strong></em> Soy una persona que tiene la habilidad de adaptarse a nuevas situaciones y aplicar razonmiento lógico</li>
            </ul>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer>
            <p>
                Redes Sociales &nbsp; <a href="https://www.linkedin.com/in/gonzalo-alvarez-a2b265215/"><img
                        class="centradoFooter" src="/img/ico-linkedin.png" alt="Logo ico-linkedin"></a> &nbsp; &nbsp;
                &nbsp; <a href="https://github.com/alvarezgonzalo0022/FrontEnd1"> <img class="centradoFooterGit"
                        src="/img/ico-github.jpeg" alt="Logo ico-github"></a>
            </p>
        </footer>
    </main>
</body>

</html>